#To implement

h1 {
    color:blue;
}
.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.side-text {
    float:right;
    width: 25%;
}

.main-text {
    float:"left";
    width: 75%;
}

.main-title {
    font-family: fantasy;
    font-size: 20px;
}

.side-pics {
    max-width: 100%;
    max-height: 100%;
}
