#To implement

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    
/*
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
*/
    margin: 20px auto 0 auto;
}

.side-text {
    width: 25%;
    float: right;
    padding: 0 20px 0 20px;
    border-left: 1px solid #808080;
}

.main-text {
    float:"left";
    width: 75%;
    padding-right: 30px;
}

.main-title {
    font-family: Helvetic Neue, Arial;
    text-align: center;
}

.side-text img {
    width: 35%;
    height: auto;
    border-radius: 55%;
    float: left;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    
}
.other-text {
    border-top: 1px solid #808080;
    text-align: center;
    padding-top: 20px;
}

.right-side {
    float:right;
    
}

.profile-name-text {
    float:left;
    font-size: 20px;
    margin-top: 12%;
    font-family: sans-serif;
    text-decoration: underline;
    padding-left: 5px;
}

.author-info {
    text-align: center;
}
