#To implement

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.side-text {
    width: 25%;
    float: right;
}

.main-text {
    float:"left";
    width: 75%;
}

.main-title {
    font-family: Helvetic Neue, Arial;
}

.side-pics {
    max-width: 100%;
    max-height: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    
}
.other-text {
    text-align: center;
}

.right-side {
    float:right;
    
}
